@model IEnumerable<appWebEjemplo.Models.Alumno>

@{
    ViewData["Title"] = "listadoPaginacion";
}

<h1>listadoPaginacion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documento)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
       
        </tr>
}
    </tbody>
</table>


@for (int i = 0; i < ViewBag.numPaginas; i++)
{
    int pagin = i + 1;
    <a asp-action="listadoPaginacion" asp-route-paginaActual="@i">@pagin</a>

}